@import './all-blocks/all-blocks';
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
}