@use './variblas';
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.76);
}

.start-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 26px;
}

.start-nav ul {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.start-nav ul li {
    font-family: 'Open Sans';
}

.start-nav .btns {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.start-nav .btns button:first-child {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #173A56;
    width: 104.91px;
    height: 46px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.start-nav .btns button:first-child:hover {
    background: #BCD0E5;
    border: none;
    color: #000000;
    transition: 0.5s;
}

.start-nav .btns button:nth-child(2) {
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #FFFFFF;
    width: 113.14px;
    height: 46px;
    background: variblas.$primary-color;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}

.start-nav .btns button:nth-child(2):hover {
    transition: 0.5s;
    color: variblas.$primary-color;
    background-color: transparent;
    border: 2px solid variblas.$primary-color;
}

.satrt-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    padding-top: 250px;
}

h1 {
    width: 550.52px;
    font-family: 'Poppins';
    font-size: 44px;
    line-height: 54px;
    color: variblas.$secondry-color;
}

.header-text p {
    padding-top: 30px;
    width: 377.75px;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 28px;
    color: variblas.$money-color;
    padding-bottom: 45px;
}

.btns-header button:nth-child(1) {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #FFFFFF;
    width: 174px;
    height: 53px;
    background: variblas.$primary-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btns-header button:nth-child(1):hover {
    color: variblas.$primary-color;
    background-color: transparent;
    border: 2px solid variblas.$primary-color;
    transition: 0.5s;
}

.satrt-header img {
    padding-top: 125px;
}

.btns-header {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.btns-header button:nth-child(2) {
    margin-top: -33px;
    display: flex;
    align-items: end;
    width: 160px;
    height: 53px;
    font-family: "Poppins";
    font-size: 16px;
    color: #FF9900;
    cursor: pointer;
    border-bottom: 2px solid;
    border-top: none;
    border-left: none;
    background: transparent;
    border-right: none;
}

.btns-header button span {
    padding-right: 9px;
}